body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    align-items: center;
    font-size: 0.6vw;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#transactionForm,
#transactionList,
#editar-form {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#transactionForm {
    height: fit-content;
    width: 100%;
    transition: transform 0.5s ease;
    transform: translateX(-60vh);
}
#editar-transacao{
    height: fit-content;
    width: 100%;
    transition: transform 0.5s ease;
}

.editar-transacao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.aumentar {
    align-self: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0);
    transition: width 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.diminuir {
    width: 63% !important;
    transform: translateX(10vw);
    transition: width 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    float: right;
}

.addTransacao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-weight: bold;
}

.btn-plus {
    position: fixed;
    margin-bottom: 30px;
}

#btn-plus2 {
    position: fixed;
    margin-bottom: 30px;
    float: right;
    margin-left: auto;
    transition: transform 0.5s ease;
    transform: translateX(-60vh);
}

.btnEditar,
.btnExcluir {
    border-radius: 100%;
    border: 1px solid #ffffff00;
    width: 38px;
    height: 38px;
    cursor: pointer;
    background: #efecec;
    color: #000000;
    outline: none;
}

.mostrar {
    transform: translateX(0) !important;
    transition: 0.4s ease;
}

.plus {
    height: 7vh;
    width: 7vh;
    border-radius: 15px;
    border: none;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px;
    justify-content: center;
    align-items: center;
}

img {
    height: 4.5vh;
    width: 4.5vh;
}

.addTransacao input[type="text"],
.addTransacao input[type="number"],
.addTransacao button,
input,
select,
#salvarBtn-editar {
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f0f3f6;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.addTransacao button,
#salvarBtn-editar {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.addTransacao button:hover {
    background-color: #555;
    justify-content: center;
}

#transactionList ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
}

li {
    padding: 15px;
    background-color: #ffffff;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    display: flex;
    box-sizing: border-box;
}

.transacao {
    background-color: #cccccc;
    padding: 17px;
    border-radius: 4px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.divs-container {
    display: flex;
    flex-direction: row-reverse;
}

.div-botoes {
    display: flex;
    width: fit-content;
    transform: translateY(-190%);
    height: 20px;
    position: fixed;
}

.tag-h2 {
    display: flex;
    justify-content: flex-start;
    align-self: center;
}

.tag-li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

/* Adicionei um novo seletor para alinhar os botões à direita */


@media (max-width: 390px) {
    body {
        font-size: 1.7vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 80%;
        padding: 7px;
    }

    .plus {
        height: 4vh;
        width: 4vh;
        transform: translateX(-10px);
    }

    .diminuir {
        width: 50% !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out;
        transition: 0.3s ease-in-out; /* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vh;
        width: 3vh;
    }

    #transactionForm, #btn-plus2 {
        width: 25% !important;
    }

    .addTransacao button {
        scale: 0.8;
    }

    #transactionList {
        width: 68%;
    }

    input,
    select {
        scale: 0.5em;
    }

    .btnEditar,
.btnExcluir {
    border-radius: 100%;
    border:1px solid #ffffff00;
    scale:0.4;
    margin: -8px;
}

    .div-botoes{
        transform: translateY(-110%);
    }
}

@media (min-width:391px) and (max-width:654px) {
    body {
        font-size: 1.7vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 80%;
        padding: 7px;
    }

    .plus {
        height: 4vh;
        width: 4vh;
        transform: translateX(-10px);
    }

    .diminuir {
        width: 50% !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out;
        transition: 0.3s ease-in-out; /* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vh;
        width: 3vh;
    }

    #transactionForm {
        width: 55% !important;
    }

    #btn-plus2{
        width: 30%
    }

    .addTransacao button {
        scale: 0.8;
    }

    #transactionList {
        width: 68%;
    }

    input,
    select {
        scale: 0.5em;
    }

    .btnEditar,
.btnExcluir {
    border-radius: 100%;
    border:1px solid #ffffff00;
    scale:0.7;
    margin: -2px;
}
.div-botoes{
    transform: translateY(-180%);
}
}

@media (min-width:655px) and (max-width:980px){
    body {
        font-size: 1.3vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 100%;
        padding:7px /* Ocupa 100% da largura na tela pequena */
    }

    #transactionList{
        width:67vw
    }

    input, select{
        scale: 0.95;
    }

    .plus {
        height: 4.5vw;
        width: 4.5vw;
        transform: translateX(-7px);
    }

    #transactionForm, #btn-plus2{
        width:23vw !important
    }

    .addTransacao button{
        scale:0.8
    }

    .diminuir{
        width: 60vw !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vw;
        width: 3vw;
    }

    .btnEditar,
    .btnExcluir {
        border-radius: 100%;
        border:1px solid #ffffff00;
        scale:0.7;
        margin: -2px;
    }
}

@media (min-width: 980px) and (max-width:1400px){
    body {
        font-size: 1vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 100%;
        padding:7px /* Ocupa 100% da largura na tela pequena */
    }

    #transactionList{
        width:70vw
    }

    input,select{
        scale: 0.95;
    }

    .plus {
        height: 4.5vw;
        width: 4.5vw;
        transform: translateX(-7px);
    }

    #transactionForm, #btn-plus2 {
        width:25vw !important
    }

    .addTransacao button{
        scale:0.8
    }

    .diminuir{
        width: 58vw !important;
        transform: translateX(18vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vw;
        width: 3vw;
    }

    .btnEditar,
    .btnExcluir {
        border-radius: 100%;
        border:1px solid #ffffff00;
        margin: 5px;
    }
}
