body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    align-items:center;
    font-size: 0.65vw;
}

 header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:fit-content;
}

main {
    padding: 20px;
    display: flex;

}

/* Estilos para formulário e lista de transações */
#transactionForm,
#transactionList {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#transactionForm {
    height: fit-content;
    width: 15vw; /* Ajuste conforme necessário */
    justify-content: space-around;
    transition: transform 0.5s ease;
    transform: translateX(-20vw);

}


#transactionList {

    align-self: center;
    width: 61%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}


.addTransacao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.addTransacao label {
    font-weight: bold;
}

.btn-plus{
    position: fixed; /* Define uma posição relativa para o contêiner */
    margin-bottom: 30px;


}

#transactionForm.mostrar {
    transform: translateX(0); /* Move o formulário para a posição visível */
}

.plus{
    height:7vh;
    width:7vh;
    border-radius: 15px;
    border:none;
    display:flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin:10px;
    justify-content: center;
    align-items: center;
}

img{
    height:4.5vh;
    width:4.5vh
}

.addTransacao input[type="text"],
.addTransacao input[type="number"],
.addTransacao button {
    padding: 8px;
    border-radius: 5px;

}

input {
    outline: none;
    border: none;
    border-radius: 5px;
    background: #f0f3f6;
    color: #333;

}

.addTransacao button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.barra-lateral{
    background-color: #fff;
}

.addTransacao button:hover {
    background-color: #555;
    justify-content:center;
}

#transactionList ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
}

li {
    padding: 15px;
    background-color: #ffffff;
    width:35vw;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display:flex
}

.transacao{
    background-color: #cccccc;
    padding:17px;
    border-radius: 4px;

}
.tag-h2{
    display: flex;
    justify-content: center;
}

.tag-li{
    margin-right:auto;
    margin-left:auto
}

@media (max-width:768px) {

    body{
        font-size: 1.99vw;
    }

    main{
        padding-left:6px
    }

    li{
        width:35vw
    }

    #transactionForm {
        transform: translateX(-40vw);
    }

    .plus{
        height:6vh;
        width:6vh;
        transform:translateX(-7px)
    }

    img{
            /*opaaaaaaa*/
            height:3.6vh;
            width:3.6vh
        }
    }
