body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3;
    align-items: center;
    font-size: 0.7vw; /* Ajustado o tamanho da fonte para melhor leitura em dispositivos menores */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem à largura da tela */
}

/* Estilos para formulário e lista de transações */
#transactionForm,
#transactionList {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#transactionForm {
    height: fit-content;
    width: 100%; /* Ocupa 100% da largura na tela pequena */
    transition: transform 0.5s ease;
    transform: translateX(-60vh); /* Ajustado para aparecer na tela pequena */
}

.aumentar {
    align-self: center;
    width: 70%; /* Ocupa 100% da largura na tela pequena */
    margin-left: auto;
    margin-right: auto;
    transform:translateX(0);
    transition: width 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.diminuir {
    width: 63% !important;
    transform: translateX(10vw);
    transition: width 0.3s ease-in-out; 
    transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
    float: right;
}

.addTransacao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.addTransacao label {
    font-weight: bold;
}

.btn-plus {
    position: fixed;
    margin-bottom: 30px;
    
}

#transactionForm.mostrar {
    transform: translateX(0);
    transition: 0.4s ease;
}

.plus {
    height: 7vh;
    width: 7vh;
    border-radius: 15px;
    border: none;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px;
    justify-content: center;
    align-items: center;
}

img {
    height: 4.5vh;
    width: 4.5vh;
}

.addTransacao input[type="text"],
.addTransacao input[type="number"],
.addTransacao button,
input,
select {
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f0f3f6;
    color: #333;
    width: 100%; /* Ocupa 100% da largura na tela pequena */
    box-sizing: border-box; /* Evita que o padding afete a largura total */
}

.addTransacao button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.addTransacao button:hover {
    background-color: #555;
    justify-content: center;
}

#transactionList ul {
    list-style-type: none;
    padding: 0;
    align-self: center;
}

li {
    padding: 15px;
    background-color: #ffffff;
    width: 100%; /* Ocupa 100% da largura na tela pequena */
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
    display: flex;
    box-sizing: border-box; /* Evita que a margem afete a largura total */
}

.transacao {
    background-color: #cccccc;
    padding: 17px;
    border-radius: 4px;
    margin:10px
}

.tag-h2 {
    display: flex;
    justify-content: center;
}

.tag-li {
    display:flex;
    justify-content: center;
}

@media (max-width: 390px) {
    body {
        font-size: 1.7vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 80%;
        padding:7px
    }


    .plus {
        height: 4vh;
        width:4vh;
        transform: translateX(-10px);
    }

    .diminuir{
        width: 50% !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vh;
        width: 3vh;
    } 

    #transactionForm{
        width:25%
    }

    .addTransacao button{
        scale:0.8
    }


    #transactionList{
        width:68%
    }
    
    input, select{
        scale: 0.5em;
    }
}

@media (min-width:391px) and (max-width:655px){
    body {
        font-size: 1.6vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 100%;
        padding:7px /* Ocupa 100% da largura na tela pequena */
    }

    #transactionList{
        width:65vw
    }

    input, select{
        scale: 0.95;
    }

    .plus {
        height: 4vh;
        width: 4vh;
        transform: translateX(-7px);
    }

    #transactionForm{
        width:20vw
    }

    .addTransacao button{
        scale:0.8
    }

    .diminuir{
        width: 50% !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vh;
        width: 3vh;
    }
}

@media (min-width:655px) and (max-width:980px){
    body {
        font-size: 1.3vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 100%;
        padding:7px /* Ocupa 100% da largura na tela pequena */
    }

    #transactionList{
        width:67vw
    }

    input, select{
        scale: 0.95;
    }

    .plus {
        height: 4.5vw;
        width: 4.5vw;
        transform: translateX(-7px);
    }

    #transactionForm{
        width:23vw
    }

    .addTransacao button{
        scale:0.8
    }

    .diminuir{
        width: 60vw !important;
        transform: translateX(15vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vw;
        width: 3vw;
    }
}

@media (min-width: 980px) and (max-width:1400px){
    body {
        font-size: 1vw; /* Ajuste do tamanho da fonte para telas pequenas */
    }

    main {
        padding-left: 12px;
        padding-right: 12px; /* Adicionado padding-right para evitar que o conteúdo toque nas bordas */
    }

    li {
        width: 100%;
        padding:7px /* Ocupa 100% da largura na tela pequena */
    }

    #transactionList{
        width:70vw
    }

    input,select{
        scale: 0.95;
    }

    .plus {
        height: 4.5vw;
        width: 4.5vw;
        transform: translateX(-7px);
    }

    #transactionForm{
        width:25vw
    }

    .addTransacao button{
        scale:0.8
    }

    .diminuir{
        width: 58vw !important;
        transform: translateX(18vw);
        transition: width 0.3s ease-in-out; 
        transition:  0.3s ease-in-out;/* Ajuste da duração e da função de transição */
        float: right;
    }

    img {
        height: 3vw;
        width: 3vw;
    }
}
